SECRET_KEY=change-this-for-your-local-machine
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=aeromiles_db
DB_USER=postgres
DB_PASSWORD=your_postgres_password
DB_HOST=localhost
DB_PORT=5432
DB_SCHEMA=aeromiles

CORS_ALLOWED_ORIGINS=http://localhost:3000
